<div id= "about">
  <body>
<h2><p class = "about-paragraph">Hi! Welcome to my page!<p></h2>
<h2><p class = "about-paragraph">The name is Brennan, nice to meet ya! I am doing all i can to become the next up and coming Web/Game Designer ^_^<p></h2>
<body>

  <%= image_tag("Mainstbuilding.jpeg", id: "about-img") %>
</div>

