  <%= image_tag("Mainstbuilding.jpeg", id: "about-img") %>
<div id= "about">
  <h2 class = "about-paragraph">Hi! Welcome to my page!</h2>
  <p class = "about-paragraph">The name is Brennan, nice to meet ya! I am doing all i can to become the next up and coming Web/Game Designer ^_^<p>
</div>

